[data-mind-wired-viewport] {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: white;
  .ctrl-icon {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 49%) 1px 1px 4px;
    position: absolute;
    z-index: 50;
    cursor: pointer;
    & > img {
      width: 100%;
      height: 100%;
      user-select: none;
    }
  }
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:focus-within {
    outline: none;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  }
  .mwd-nodes {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
  }
  .mwd-node {
    position: absolute;
    width: 0px;
    height: 0px;
  }
  .mwd-subs {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 0;
  }
  .mwd-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // z-index: 5;
    cursor: pointer;
    background-color: white;
    &.active-node {
      background-color: rgb(210, 255, 120);
    }
  }
  .mwd-node-ctrl {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 0;
    height: 0;
    z-index: 5;
  }
  .mwd-selection-area {
    position: absolute;
    user-select: none;
    width: 0px;
    height: 0px;
    background-color: #b3ddff6b;
    top: -1px;
    left: -1px;
    // border: 1px dashed #226aa3;
    // border-radius: 4px;
    .ctrl-icon {
      transform: translate(-50%, 0%);
      top: 100%;
      left: 50%;
    }
  }
  .mwd-node-text {
    white-space: nowrap;
    padding: 4px 6px;
    /*border: 1px solid gray;*/
    user-select: none;
    display: block;
    p {
      margin: 0;
      pointer-events: none;
    }
  }
  .icon-badge-node {
    display: flex;
    align-items: center;
    overflow: hidden;
    > img {
      width: 28px;
      height: auto;
    }
  }
  .mwd-thumbnail-node {
    background-position: center;
    background-repeat: no-repeat;
    &.cover {
      background-size: cover;
    }
    &.contain {
      background-size: contain;
    }
  }
  a[data-mwd-link] {
    color: #0001ee;
    text-decoration: underline;
  }
}
